@section css {
    <link href="@Url.Content("~/css/AboutUs.css")" rel="stylesheet" />
}
    <div class="border border-3 border-dark rounded-3">
        <h1 class="section-header fw-bold">We're GAME STORE</h1>
        <div class="about-wrapper fw-bold">
            <p>
                Based in Montreal, Quebec, we bring you the best games at the best prices available. We love games and want to share this passion by
                making gaming more accessible for everyone.
            </p>
        </div>
        <hr />
        <hr />
        <h2 class="section-header fw-bold">Shop with confidence</h2>
        <div class="about-wrapper fw-bold">
            <p>
                Thousands of customers trust us everyday to purchase their games quickly and securly at the best price.
            </p>
        </div>
        <hr />
        <h2 class="section-header fw-bold">Talk to us</h2>
        <div class="about-wrapper fw-bold">
            <p>
                You can reach us on Facebook, Twitter and our Discord group at anytime for questions, suggestions or issues you might have.
                You can also reach us through our email
                <a style="display:inline;" asp-area="" asp-controller="Home" asp-action="ContactUs">here</a>.
            </p>
        </div>
    </div>